<div>
<div id="map"></div>
	<style>
		.mblack {
			opacity:0.9;
			height: 500px;
		}

		.op {
			opacity: 1;
		}

	</style>

	<form name="searchForm" ng-submit="directPage(searchForm.$valid)" novalidate>  
		<div class="modal-dialog">
			<div class="modal-content mblack">


				<div class="row op">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<div class="col-xs-12" style="height:120px;"></div>
							<center>
								<h1 for="search">Meet Me</h1>
							</center>
						</div>
					</div>
					<div class="col-md-4">
					</div>	
				</div>


				<div class="row op">
					<div class="col-xs-12" style="height:30px;"></div>

					<div class="col-md-1"></div>

					<div class="col-md-10">

						<div class="col-md-4 form-group"> 
<!-- 							ng-class="{'has-error': (submitted && homeForm.search.$invalid)}" -->
							<input type="text" class="form-control" name="startLocation" id="startLocation" ng-model="startLocationSearch" placeholder="Start Location" required>
<!-- 							<div ng-show="submitted && homeForm.search.$invalid">	<span class="help-block">Must enter a search parameter.</span>
							</div> -->
						</div>

						<div class="col-md-4 form-group" >
<!-- 							ng-class="{'has-error': (submitted && homeForm.location.$invalid)}" -->
							<input type="text" class="form-control" name="endLocation" id="endLocation" ng-model="endLocationSearch" placeholder="End Location" required>
<!-- 							<div ng-show="submitted && homeForm.location.$invalid">	<span class="help-block">Must enter a location parameter	.</span>
							</div> -->
						</div>
						<div class="col-md-4 form-group" >
<!-- 							ng-class="{'has-error': (submitted && homeForm.location.$invalid)}" -->
							<input type="text" class="form-control" name="user" id="user" ng-model="user" placeholder="Other user" required>
<!-- 							<div ng-show="submitted && homeForm.location.$invalid">	<span class="help-block">Must enter a location parameter	.</span>
							</div> -->
						</div>
						<!-- <button type="submit" class="btn btn-primary glyphicon glyphicon-map-marker"></button> -->

					</div>

					<div class="col-md-1"></div>	
				</div>

				<div class="row op">
					<center>
						<button type="submit" class="btn btn-primary">Find</button>
					</center>
				</div>
			</div>
		</div>
	</form>
</div>