<div>
   <div id="map"></div>
   <style>
      .mblack {
      opacity:0.9;
      height: 500px;	
      }
      .op {
      opacity: 1;
      }
      .emptyline { 
      height: 10px; 
      }
      .btn {
      width: 100%;
      height: 100%;
      }
      .centeredbuttons {
      margin:0 auto;
      }
      }
   </style>

   <form name="loginForm" ng-submit="directPage(loginForm.$valid)" novalidate>
      <div class="modal-dialog">
         <div class="modal-content mblack">

            <div class="row op">
               <div class="col-md-4">
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <div class="col-xs-12" style="height:60px;"></div>
                     <center>
                        <h1 for="search">Meet Me</h1>
                     </center>
                  </div>
               </div>
            </div>

            <div class="row op">
               <div class="col-md-4">
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <div class="col-xs-12" style="height:10px;"></div>
                     <center>
                        <h3 for="search">Login</h1>
                     </center>
                  </div>
               </div>
               <div class="col-xs-12" style="height:40px;"></div>
               <div style="width:450px; margin:0 auto;">
                  <div class="col-md-11.2 form-group" ng-class="{'has-error': (submitted && homeForm.search.$invalid)}">
                     <input type="text" class="form-control" name="search" id="search" ng-model="search" placeholder="Username" required>
                     <div ng-show="submitted && homeForm.search.$invalid">	
                     </div>
                  </div>
                  <div class="col-md-11.2 form-group" ng-class="{'has-error': (submitted && homeForm.search.$invalid)}">
                     <input type="text" class="form-control" name="search" id="search" ng-model="search" placeholder="PasswordS" required>
                     <div ng-show="submitted && homeForm.search.$invalid">	
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-xs-12" style="height:20px;"></div>

               <div style="width:450px; margin:0 auto;">
               <div class="col-md-6">
                  <center>
                     <button type="submit" class="btn btn-primary" ng-click="button='login'">Login</button>
                  </center>
                  <div class="emptyline">	
                  </div>
               </div>
               <div class="col-md-6">
                  <center>
                     <button type="submit" class="btn btn-primary" ng-click="button='signUp'">Sign Up</button>
                  </center>
                  <div class="emptyline">	
                  </div>
               </div>
            </div>

            <div style="width:450px; margin:0 auto;">
               <div class="col-md-6">
                  <center>
                     <button type="submit" class="btn btn-primary" ng-click="button='google'">Connect with Google</button>
                  </center>
                  <div class="emptyline">	
                  </div>
               </div>
               <div class="col-md-6">
                  <center>
                     <button type="submit" class="btn btn-primary" ng-click="button='facebook'">Connect with Facebook</button>
                  </center>
               </div>
            </div>

         </div>
      </div>
   </form>
</div>